html {
    background-color: white;
}

body {
    width: 400px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #eee;
    padding: 10px 20px;
    font-size: 1.2em;
    border-radius: 10px;
}

.orange {
    color: orange;
}

.blue {
    color: blue;
}
